<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fastretailing.marketingpf.domain.mappers.SegmentItemForScreenMasterMapper">
    <resultMap id="segmentItemResultMap" type="com.fastretailing.marketingpf.domain.entities.SegmentItemForScreenMaster">
        <id column="sgmt_itm_f_scrn_seq" property="segmentItemForScreenSequence" />
        <result column="ctgry" property="category" />
        <result column="dtl_ctgry" property="detailCategory" />
        <result column="sgmt_itm_name" property="segmentItemName" />
        <result column="inpt_type" property="inputType" />
        <result column="oprtr_list" property="operatorList" />
        <result column="chc_list" property="choicesList" />
        <result column="url_f_api_aces" property="urlForApiAccess" />
        <result column="del_flg_f_adt" property="deletionFlagForAudit" />
        <result column="create_date_time_f_adt" property="createDateTimeForAudit" />
        <result column="create_user_id_f_adt" property="createUserIdForAudit" />
        <result column="del_date_time_f_adt" property="deletionDateTimeForAudit" />
        <result column="del_user_id_f_adt" property="deletionUserIdForAudit" />
        <result column="update_date_time_f_adt" property="updateDateTimeForAudit" />
        <result column="update_user_id_f_adt" property="updateUserIdForAudit" />
    </resultMap>

    <select id="findAll" resultMap="segmentItemResultMap">
        SELECT *
        FROM m_sgmt_itm_f_scrn
        WHERE del_flg_f_adt = 'f'
        ORDER BY sgmt_itm_f_scrn_seq ASC
    </select>

    <select id="findById" resultMap="segmentItemResultMap">
        SELECT *
        FROM m_sgmt_itm_f_scrn
        WHERE sgmt_itm_f_scrn_seq = #{segmentItemForScreenSequence}
        AND del_flg_f_adt = 'f'
    </select>
</mapper>
