<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <level>severity</level>
                <timestamp>time</timestamp>
            </fieldNames>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE-JSON" />
    </root>
</configuration>
