<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
  <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder">
      <fieldNames>
        <requestHeaders>request_headers</requestHeaders>
        <responseHeaders>response_headers</responseHeaders>
      </fieldNames>
      <customFields>{"tomcat_log": "accesslog"}</customFields>
    </encoder>
  </appender>
  <appender-ref ref="STDOUT_JSON"/>
</configuration>